@page "/fullapplicationform"

<style>
    form {
        height: 10vh;
        width: 100%;
        transition: all .3s ease;
    }

    .form {
        height: 5vh;
        width: 40vw;
        padding: 10px;
        border: 4px dashed rgba(255,255,255, 0.35);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .form label {
            line-height: 100%;
            width: 100%;
            text-align: center;
            color: #ffffff;
            font-family: Arial,serif;
        }

        .form input {
            display: none;
        }
   

        form button:hover {
            border: 2px solid rgba( 255, 255, 255, 0.18 );
            color: white;
        }

        form button:active {
            border: 0;
        }
        
          /*body {*/
                /*    background: linear-gradient(45deg, #fc466b, #3f5efb);*/
                /*    height: 100vh;*/
                /*    font-family: 'Montserrat', sans-serif;*/
                /*}*/
        
                .form-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
        
                .form-container form {
                    background: rgba(255, 255, 255, 0.3);
                    padding: 2%;
        
                    border-radius: 20px;
                    border-left: 1px solid rgba(255, 255, 255, 0.3);
                    border-top: 1px solid rgba(255, 255, 255, 0.3);
                    backdrop-filter: blur(10px);
                    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
                    text-align: center;
        
                    transition: all 0.2s ease-in-out;
                    width: 70vw;
                    height: fit-content;
                }
        
                .form-container form p {
                    font-weight: 500;
                    color: #fff;
                    opacity: 0.7;
                    font-size: 1.4rem;
                    margin-top: 0;
                    margin-bottom: 4vh;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                }
        
                .form-container form input {
                    background: transparent;
                    width: 30vw;
                    padding: 1em;
                    margin-bottom: 2em;
                    border: none;
                    border-left: 1px solid rgba(255, 255, 255, 0.3);
                    border-top: 1px solid rgba(255, 255, 255, 0.3);
                    border-radius: 5000px;
                    backdrop-filter: blur(5px);
                    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
                    color: #fff;
                    font-family: Montserrat, sans-serif;
                    font-weight: 500;
                    transition: all 0.2s ease-in-out;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                }
        
                @@media only screen and (max-width: 900px) {
        
                    .form-container form input {
                        width: 60vw;
                    }
        
                }
        
                .form-container form input:hover {
                    background: rgba(255, 255, 255, 0.1);
                    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
                }
        
                .form-container form input[type="email"]:focus,
                form input[type="password"]:focus {
                    background: rgba(255, 255, 255, 0.1);
                    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
                }
        
                .form-container form input[type="button"] {
                    margin-top: 10px;
                    width: 150px;
                    font-size: 1rem;
                }
        
                .form-container form input[type="button"]:hover {
                    cursor: pointer;
                }
        
                .form-container form input[type="button"]:active {
                    background: rgba(255, 255, 255, 0.2);
                }
        
                .form-container form:hover {
                    margin: 10px;
                }
        
                .form-container ::placeholder {
                    font-family: Montserrat, sans-serif;
                    font-weight: 400;
                    color: #fff;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
                }
        
                a,
                input:focus,
                select:focus,
                textarea:focus,
                button:focus {
                    outline: none;
                }
        
        
                /*        History div*/
        
                .tracking {
                    border-left: 1px solid rgba(255, 255, 255, 0.3);
                    border-top: 1px solid rgba(255, 255, 255, 0.3);
                    backdrop-filter: blur(10px);
                    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
                    text-align: center;
                    overflow: hidden;
                }
        
                [class*=tracking-status-] p {
                    margin: 0;
                    font-size: 2vh;
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center
                }
        
                [class*=tracking-status-] {
                    line-height: 5vh;
                }
        
                /*the heading*/
                .tracking-status-intransit {
                    background: rgba(255, 255, 255, 0.5);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5.6px);
                    -webkit-backdrop-filter: blur(5.6px);
                    border: 1px solid rgba(255, 255, 255, 0.04);
        
                    font-weight: 700;
                    color: #fff;
                    opacity: 0.7;
                    font-size: 1.4rem;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                }
        
        
        
        
        
                .tracking-list {
                    /* From https://css.glass */
                    background: rgba(255, 255, 255, 0.18);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5.6px);
                    -webkit-backdrop-filter: blur(5.6px);
                    border: 1px solid rgba(255, 255, 255, 0.04);
                    
                    max-height: 60vh;
                    overflow-y: auto;
                }
        
                .tracking-item {
                    border-left: 1px solid #e5e5e5;
                    position: relative;
                    padding: 2rem 1.5rem .5rem 2.5rem;
                    font-size: .9rem;
                    margin-left: 3rem;
                    min-height: 5rem;
                }
        
                .tracking-item:last-child {
                    padding-bottom: 4rem;
                }
        /*        start and end date*/
                .tracking-item .tracking-date {
                    margin-bottom: .5rem;
                    font-weight: 700;
                    color: #fff;
                    opacity: 0.7;
                    font-size: 1.5vh;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                }
        /*        months*/
                .tracking-item .tracking-date span {
                    color: #888;
                    font-size: 85%;
                    padding-left: .4rem;
                }
        /*        Scholl*/
        
                .tracking-item .tracking-content {
                    padding: .5rem .8rem;
                    background-color: #f4f4f4;
                    border-radius: .5rem
                }
        
                .tracking-item .tracking-content span {
                    display: block;
                    color: #888;
                    font-size: 85%
                }
        
                .tracking-item .tracking-icon {
                    line-height: 2.6rem;
                    position: absolute;
                    left: -1.3rem;
                    width: 2.6rem;
                    height: 2.6rem;
                    text-align: center;
                    border-radius: 50%;
                    font-size: 1.1rem;
                    background-color: #fff;
                    color: #fff
                }
                
                .tracking-item .tracking-icon.status-inforeceived {
                    background-color: #214977;
                }        

    .preview-resume {
        width: 40vw;
        height: 55vh;
        background: rgba(255, 255, 255, 0.16);
        border-radius: 4px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.1px);
        -webkit-backdrop-filter: blur(2.1px);
        border: 1px solid rgba(255, 255, 255, 0.68);
    }

    .line {
        height: 1px;
        width: 100%;
        position: absolute;
        top: 50%;
        background: rgba(255, 255, 255, 0.2);
        transform: translateX(-1px);
    }

    
    
    
    
/*stepped bar styling start*/
.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
	 content: counter(stepNum);
	 font-family: inherit;
	 font-weight: 700;
	 background: green;
}

 .multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
	 background: rgba(255, 255, 255, 0.45);
}
 .multi-steps {
	 display: table;
	 table-layout: fixed;
	 width: 100%;
}
 .multi-steps > li {
	 counter-increment: stepNum;
	 text-align: center;
	 display: table-cell;
	 position: relative;
	 color: #fff;
   
}

 .multi-steps > li:before {
	 content: '\f00c';
      content: '\2713;';
      content: '\10003';
      content: '\10004';
      content: '\2713';
	 display: block;
	 margin: 0 auto 4px;
	 width: 36px;
	 height: 36px;
	 line-height: 32px;
	 text-align: center;
background: rgba(255, 255, 255, 0.7);
border-radius:50%;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.9px);
-webkit-backdrop-filter: blur(13.9px);
border: 1px solid rgba(255, 255, 255, 0.7);
   
   font-weight: 900;
}
 .multi-steps > li:after {
	 content: '';
	 height: 2px;
	 width: 100%;
	 background-color: #fff;
	 position: absolute;
	 top: 16px;
	 left: 50%;
	 z-index: -1;
}
 .multi-steps > li:last-child:after {
	 display: none;
}

 .multi-steps > li.is-active:before {
	 
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.7);
   color: #cd5bc8;
}
 .multi-steps > li.is-active ~ li {
	 color: rgba(205,91,200,0.51);
}
 .multi-steps > li.is-active ~ li:before {
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.top{
    margin-top: 1vh;
    height: 15%;
}
.bottom{
    height: 85%;
}
 
</style>

<div class="container-fluid h-100  row">
    <div class="container-fluid d-flex align-items-center top">
        <ul class="list-styled multi-steps">
            <li @onclick="() => ChangeForm(CurrentFrom.Upload)" class="@IsActiveForm(CurrentFrom.Upload)">Upload Resume</li>
            <li @onclick="() => ChangeForm(CurrentFrom.PersonalInfo)" class="@IsActiveForm(CurrentFrom.PersonalInfo)">Personal Details</li>
            <li @onclick="() => ChangeForm(CurrentFrom.Education)" class="@IsActiveForm(CurrentFrom.Education)">Educational Details</li>
            <li @onclick="() => ChangeForm(CurrentFrom.Work)" class="@IsActiveForm(CurrentFrom.Work)">Work History</li>
            <li @onclick="() => ChangeForm(CurrentFrom.Other)" class="@IsActiveForm(CurrentFrom.Other)">Online Profile</li>
            <li @onclick="() => ChangeForm(CurrentFrom.Summary)" class="@IsActiveForm(CurrentFrom.Summary)">Summary</li>
        </ul>
    </div>
    <div class="container-fluid overflow-auto bottom">
        @switch (_currentFrom)
        {
            case CurrentFrom.Upload:
                <FileUpload></FileUpload>
                break;
            case CurrentFrom.PersonalInfo:
                <PersonalInfoForm></PersonalInfoForm>
                break;
            case CurrentFrom.Work:
                <WorkHistoryForm></WorkHistoryForm>
                break;
            case CurrentFrom.Education:
                <EducationHistoryForm></EducationHistoryForm>
                break;
            case CurrentFrom.Other:
                <OtherDetailsForm></OtherDetailsForm>
                break;
            case CurrentFrom.Summary:
                <SummaryPage></SummaryPage>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    </div>
</div>